

.navigations{
    background: #F2F2F2;
    padding: 0;
}
.navigations a{
    padding-left: 0;
    width: inherit
}

.fa-bars{
   text-align: center;
    color: #606060;
    font-size: 20px;
    padding: 30px 0px;
}



.vertical-menu .component{
    display: block;
    padding-right: 0px;
    font-size: 25px;
    text-decoration: none;
    /* margin-left: 33%; */
}

.vertical-menu a{
    padding: 0;
    width: 92px;
    padding: 10px 0px;
}

.vertical-menu .component:hover{
    border-left: 3px solid #2185D0;
    background: rgb(251, 246, 246);
}

.fa-bars{
    text-align: center;
     color: #606060;
     font-size: 20px;
} 

.nav-item img{
    padding-left: 5%;
}

.nav-item a span{
    font-size: 11px;
   margin-left: 10px;
    text-align: center;
    color: black;
}


.secondColumb{
background: rgb(251, 246, 246);
margin: 0;

}

.newplus{
    color: #00B5AD;
}

.thirdColumb{
    margin-left: -20%;
    padding: 0;
}

.thirdColumb .navbar{
    margin-left: -1%;
    padding-left: 0px;
}

.thirdColumb li a:hover{
    border-bottom: 2px solid black;
    color: black;
}



.head{
    color: black;
}

.newbtn{
    background: #00B5AD;
    border: none;
}

a .fa-bell, a .fa-user{
    color: black
}

div .stock-vol{
    border: 1px solid gray;
    height: 300px;
    width: 50%;
    /* border-radius: 20px; */
    margin-left: 4%;
    padding-left: 0;
}

div .stock-sum{
    border: 1px solid gray;
    height: 300px;
    width: 20%;
    margin-left: 5%;
    /* border-radius: 30px; */
}

